#shop{
    padding: 100px 0;
    @include xs(){
        padding: 50px 0;
    }
    @include sm(){
        padding: 70px 0;
    }
    .top{
        margin-bottom: 30px;
        .filterIcons{
            ul{
                display: block;
                border: none;
                li{
                    display: inline-block;
                    width:50%;
                    margin: 0;
                    float: right;
                }
                li button{
                    width: 100%;
                    background-color: $textColor;
                    padding: 5px;
                    border: none;
                    outline: none;
                    border-radius: 0;
                    margin-bottom: 0;
                    span{
                        font-size: 24px;
                        color: $white;
                    }
                    &.active{
                        background-color: $babyPink;
                    }
                }
            }
        }
        .ShowingProduct{
            p{
                color: $grayColor;
                margin-bottom: 10px;
            }
            .progress{
                height: 2px;
            }
        }
        .selector{
            text-align: right;
            select{
                width: 312px;
                padding: 12px 0px 12px 16px;
                background-color: #F1F3F4;
                border: none;
                color: $grayColor;
                font-family: $secFont;
                &:focus{
                    border: none;
                    outline: none;
                }
                @include xs(){
                    width: 100%;
                }
                @include sm(){
                    width: 100%;
                }
            }
        }
    }
    .body{
        .productCard{
            .image{
                overflow: hidden;
                position: relative;
                .tag{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: $babyPink;
                    color: $white;
                    p{
                        font-weight: 700;
                    }
                    padding:0 20px;
                }
                img{
                    width: 100%;
                }
                .overly{
                    position: absolute;
                    top: 50%;
                    right: 20px;
                    transform: translateY(-50%);
                    span{
                        width: 36px;
                        height: 36px;
                        display: block;
                        background-color: $white;
                        color: $naviColor;
                        margin-bottom: 10px;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 36px;
                        transform: translateX(-150%);
                        opacity: 0;
                        &:hover{
                            background-color: $babyPink;
                            color: $white;
                        }
                    }
                }
                &:hover{
                    img{
                        transform: scale(110%);
                        transition: .35s ease;
                    }
                    .overly{
                        span{
                            transform: translateX(0);
                            opacity: 1;
                        }
                    }
                }
            }
            .ctn{
                padding: 20px 0;
                h4{
                    display: inline-block;
                    color: $textColor;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 10px;
                    height: 40px;
                }
                p{
                    display: inline-block;
                    text-align: center;
                    font-size: 10px;
                    color: $babyPink;
                    span{
                        color: $textColor;
                        font-size: 12px;
                    }
                }
                h6{
                    font-size: 16px;
                    color: $grayColor;
                }
                .mobileShopIcons{
                    border: 1px solid $babyPink;
                    margin: 10px 0;
                    a{
                        span{
                            display: inline-block;
                            color: $babyPink;
                            width: 100%;
                            text-align: left;
                            padding: 5px 0;
                            font-size: 18px;
                            text-align: center;
                        }
                        &:first-child{
                            padding-right: 0;
                            span{
                                color: $white;
                                background-color: $babyPink;
                            }
                        }
                        &:last-child{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        .shopProductCardList{
            padding: 20px;
            margin-bottom: 50px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            .image{

            }
            .ctn{
                position: relative;
                padding-left: 20px;
                h4{
                    color: $textColor;
                    font-size: 28px;
                    font-weight: 800;
                    margin: 20px 0;

                    @include md(){
                        margin: 10px 0;
                    }
                    @include lg(){
                        margin: 10px 0;
                    }
                }
                h6{
                    font-size: 16px;
                    color: $grayColor;
                    margin-bottom: 20px;
                    @include md(){
                        margin-bottom: 10px;
                    }
                    @include lg(){
                        margin-bottom: 10px;
                    }
                }
                span{
                    color: $babyPink;
                    font-size: 14px;
                }
                p{
                    font-family: $secFont;
                    color: $textColor;
                    margin: 20px 0;
                    @include lg(){
                        margin: 0px 0;
                    }
                }
                .shopIcons{
                    position: absolute;
                    bottom: 0;
                    span{
                        width: 36px;
                        height: 36px;
                        display: inline-block;
                        background-color: $textColor;
                        color: $white;
                        margin-bottom: 10px;
                        text-align: center;
                        line-height: 36px;
                        transition: .25s ease;
                        &:hover{
                            background-color: $babyPink;
                        }
                    }
                }
            }
        }
    }
    .bottom{
        ul{
            text-align: center;
            li{
                display: inline-block;
                button{
                    padding: 3px 15px;
                    border: 1px solid $grayColor;
                    color: $textColor;
                    background-color: $white;
                    transition: .35s ease;
                    font-weight: 600;
                }
                &.active button{
                    color: $white;
                    background-color: $textColor;
                    border-color:  transparent;
                }
                &:hover button{
                    color: $white;
                    background-color: $textColor;
                    border-color: transparent;
                }
                &:first-child button,
                &:last-child button{
                    border: none;
                    &:hover{
                        background-color: $white;
                        color: $grayColor;
                        text-shadow: 1px 1px 5px $grayColor;
                    }
                }
            }
        }
    }
    .pageas{
        display: none;
        &.active{
            display: block;
        }
    }
    .gridpages{
        display: block ;
        @include custom(){
            display: none;
            &.active{
                display: block ;
            }
        }
    }
}