// *best seller starts
#bestSeller{
    padding: 100px 0;
    @include xs(){
        padding: 50px 0;
    }
    @include sm(){
        padding: 80px 0;
    }
    .bestSellerProduct{
        padding: 0px 12px;
        overflow: hidden;
        align-self: normal;
        @include xs(){
            padding: 0px 7px;
        }
        @include custom(320px, 350px){
            padding: 0px 5px;
        }
        .bestSellerCtn{
            border: 1px solid #F1F3F4;
            text-align: center;
            color: $textColor;
            padding: 25px 0;
            overflow: hidden;
            @include xs(){
                padding: 15px 0;
            }
            p{
                color: $grayColor;
                @include xs(){
                    font-size: 12px;
                }
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                margin: 5px 0px 10px 0;
                text-transform: capitalize;
                @include xs(){
                    font-size: 14px;
                    margin-bottom: 5px;
                }
            }
            span{
                font-size: 14px;
                color: $babyPink;
                @include xs(){
                    font-size: 12px;
                }
            }
        }
        .image{
            position: relative;
            p{
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 10px;
                color: $white;
                background-color: $babyPink;
                padding: 0px 9px;
                transform: rotate(-90deg) translateX(-25%);
                z-index: 999;
                border-radius: 13px 0 0 13px;
                font-size: 16px;
                @include xs(){
                    font-size: 12px;
                }
            }
            .overly{
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                span{
                    width: 36px;
                    height: 36px;
                    display: block;
                    background-color: $white;
                    color: $naviColor;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    transform: translateX(-150%);
                    opacity: 0;
                    &:hover{
                        background-color: $babyPink;
                        color: $white;
                    }
                }
            }
            &:hover{
                .overly{
                    span{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
        .cardBtn{
            .row{
                margin: 0 !important;
            }
            a{
                display: inline-block;
                padding: 0;
                text-align: center;
                span{
                    font-size: 14px;
                    background-color: $babyPink;
                    color: $white;
                    display: block;
                    padding:3px 0;
                    border: 1px solid $babyPink;
                    @include sm(){
                        padding: 5px 0;
                        font-size: 16px;
                    }
                    @include md(){
                        padding: 5px 0;
                        font-size: 16px;
                    }
                }
                &:last-child span{
                    background-color: transparent;
                    color: $babyPink;
                }
            }
        }
    }
    .bestSellerBtn{
        text-align: center;
        a{
            @include btn(common){
                padding: 13px 27px;
                @include xs(){
                    padding: 12px 18px;
                }
                @include sm(){
                    padding: 12px 22px;
                }
            };
        }
    }
}
// *best seller ends