// *dealOfTheDay starts
#dealOfTheDay{
    .slick-dots{
        @extend %commonDots;
        bottom: -70px;
        @include xs(){
            bottom: -50px;
        };
        @include sm(){
            bottom: -60px;
        }
        li{
            button{
                background-color: #BDBDBD;
            }
            &.slick-active button{
                background-color: #151A32;
            }
        }
    }
    padding-bottom: 85px;
    @include xs(){
        padding-bottom: 50px;
    };
    .dealBody{
        box-shadow: 0px 0px 70px 0px rgba(21, 26, 50, 0.08);
        padding: 0px 0px 85px 0;
        margin-top: 70px;
        
        @include xs(){
            padding: 0px 0px 60px 0;
        }
        @include sm(){
            padding: 0px 0px 70px 0;
        }
        .timer{
            margin: auto;
            width: 425px;
            max-width: 90%;
            border-radius: 40px;
            box-shadow: 0px 0px 10px 0px rgba(21, 26, 50, 0.10);
            background-color: $white;
            transform: translateY(-50%);
            padding: 10px 0;
            ul{
                text-align: center;
                li{
                    display: inline-block;
                    padding: 0 22px;
                    position: relative;
                    color: $grayColor;
                    @include xs(){
                        font-size: 14px;
                        padding: 0px 12px;
                    }
                    span{
                        display: block;
                        color: var(--Text-Color, #11161E);
                        font-size: 24px;
                        font-weight: 700;
                        @include xs(){
                            font-size: 18px;
                        }
                        @include sm(){
                            font-size: 20px;
                        }
                    }
                    &::before,
                    &::after{
                        content: "";
                        position: absolute;
                        top: 30%;
                        right: 0;
                        transform: translateX(50%);
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: $babyPink;
                        @include xs(){
                            top: 25%;
                            width: 4px;
                            height: 4px;
                        }
                    }
                    &::after{
                        top: unset;
                        bottom: 30%;
                        @include xs(){
                            bottom: 25%;
                        }
                    }
                    &:last-child::before,
                    &:last-child::after{
                        display: none;
                    }
                }
            }
        }
        .dealCtn{
            background-position: center;
            background-size: cover;
            padding: 35px 100px 120px 40px;
            color: $textColor;
            margin: 0 33px;
            opacity: 0;
            transition: opacity 1s;
            transition-delay: 200ms;
            &.slick-active{
                animation: fade-down 1s ease 1;
                opacity: 1;
            }
            @keyframes fade-down {
                0%{
                    transform: translateY(-100%);
                }
                100%{
                    transform: translateY(0);
                }
            }
            &.slick-current{
                animation: fade-up 1s ease 1;
            }
            @keyframes fade-up {
                0%{
                    transform: translateY(100%);
                }
                100%{
                    transform: translateY(0);
                }
            }
            @include xs(){
                margin: 0px 15px;
                padding: 15px 20px;
            };
            @include sm(){
                margin:0 25px;
                padding: 25px 30px;
            }
            @include lg(){
                margin: 0px 25px;
                padding: 35px 60px 80px 40px;
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                @include xs(){
                    font-size: 16px;
                }
            }
            h2{
                font-size: 36px;
                font-weight: 700;
                margin: 10px 0;
                @include xs(){
                    font-size: 26px;
                }
                @include lg(){
                    font-size: 32px;
                }
            }
            p{
                font-family: $secFont;
                color: $grayColor;
                @include xs(){
                    font-size: 14px;
                }
            }
            h6{
                margin: 25px 0;
                span{
                    color: $grayColor;
                    text-decoration: line-through;
                }
                @include xs(){
                    font-size: 14px;
                    margin: 10px 0;
                }
                @include sm(){
                    margin: 15px 0;
                }
            }
            a{
                @include btn(common);
                @include xs(){
                    margin: 15px 0;
                }
            }
        }
    }
}
// *dealOfTheDay ends