// *newarrivals starts
#newArrivals{
    padding-bottom: 100px;
    @include xs(){
        padding-bottom: 50px;
    }
    @include sm(){
        padding-bottom: 80px;
    }
    .newArrivalsSlide{
        padding: 0px 12px;
        @include xs(){
            padding: 0px 7px;
        }
        @include custom(320px, 350px){
            padding: 0px 5px;
        }
        .productInfo{
            border: 1px solid #F1F3F4;
            text-align: center;
            color: $textColor;
            padding: 25px 0;
            overflow: hidden;
            @include xs(){
                padding: 15px 0;
            }
            p{
                color: $grayColor;
                @include xs(){
                    font-size: 12px;
                }
            }
            h4{
                font-size: 18px;
                font-weight: 600;
                margin: 5px 0px 10px 0;
                text-transform: capitalize;
                height: 40px;
                @include xs(){
                    font-size: 14px;
                    margin-bottom: 5px;
                    height: 30px;
                }
            }
            span{
                font-size: 14px;
                color: $babyPink;
                @include xs(){
                    font-size: 12px;
                }
            }
        }
        .image{
            position: relative;
            p{
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 10px;
                color: $white;
                background-color: $babyPink;
                padding: 0px 9px;
                transform: rotate(-90deg) translateX(-25%);
                z-index: 999;
                border-radius: 13px 0 0 13px;
                font-size: 16px;
                @include xs(){
                    font-size: 12px;
                }
            }
            .overly{
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                span{
                    width: 36px;
                    height: 36px;
                    display: block;
                    background-color: $white;
                    color: $naviColor;
                    margin-bottom: 10px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 36px;
                    transform: translateX(-150%);
                    opacity: 0;
                    &:hover{
                        background-color: $babyPink;
                        color: $white;
                    }
                }
            }
            &:hover{
                .overly{
                    span{
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
        .cardBtn{
            .row{
                margin: 0 !important;
            }
            a{
                display: inline-block;
                padding: 0;
                text-align: center;
                span{
                    font-size: 14px;
                    background-color: $babyPink;
                    color: $white;
                    display: block;
                    padding:3px 0;
                    border: 1px solid $babyPink;
                    @include sm(){
                        padding: 5px 0;
                        font-size: 16px;
                    }
                    @include md(){
                        padding: 5px 0;
                        font-size: 16px;
                    }
                }
                &:last-child span{
                    background-color: transparent;
                    color: $babyPink;
                }
            }
        }
    }
    .mySlide{
        position: relative;
        &:hover .arrow{
            opacity: 1;
            visibility: visible;
        }
    }
    .arrow{
        display: block;
        position: absolute;
        top: 40%;
        color: $white;
        padding: 18px 10px;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: .35s;
        @include xs(){
            padding: 12px 10px;
            font-size: 14px;
        }
        @include custom(){
            opacity: 1;
            visibility: visible;
        }
        &.leftArrow{
            cursor: pointer;
            left: 0%;
            transform: translate(80%,-50%);
            @include xs(){
                transform: translate(65%,-50%);
            }
            @include custom(320px,350px){
                transform: translate(60%,-50%);
            }
        }
        &.rightArrow{
            cursor: pointer;
            right: 0%;
            transform: translate(-80%,-50%);
            @include xs(){
                transform: translate(-65%,-50%);
            }
            @include custom(320px,350px){
                transform: translate(-60%,-50%);
            }
        }
    }
}
// *newarrivals ends