// *special offer starts
#specialOffer{
    background-color: #F1F3F4;
    position: relative;
    .left{
        .spOfferCtn{
            color: $textColor;
            margin: 80px 0;
            @include xs(){
                margin: 40px 0;
            }
            @include sm(){
                margin: 60px 0;   
            }
        }
        h4{
            color: $grayColor;
            font-size: 16px;
            font-weight: 400;
            @include xs(){
                font-size: 14px;
            }
        }
        h2{
            font-size: 36px;
            font-weight: 700;
            margin: 10px 0px 16px 0;
            @include xs(){
                font-size: 22px;
                margin: 10px 0;
            }
            @include sm(){
                font-size: 30px;
                margin: 10px 0;
            }
        }
        p{
            color: $grayColor;
            font-family: $secFont;
            margin-bottom: 30px;
            @include xs(){
                font-size: 14px;
                margin-bottom: 20px;
            }
        }
        a{
            @include btn(common);
            margin: 0;
        }
    }
    .right{
        margin-left: auto;
        position: absolute;
        padding: 0;
        top: 0;
        right: 0;
        height: 100%;
        @include custom(320px,991px){
            position: static;
        }
        img{
            width: 100%;
            height: 100%;
        }
        a{
            position: relative;
        }
        span{
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            line-height: 60px;
            text-align: center;
            position: absolute;
            background-color: $white;
            color: $babyPink;
            top: 50%;
            transform: translateY(-50%) translateX(50%);
            right: 50%;
            &::before,
            &::after{
                content: "";
                width: 100px;
                height: 100px;
                background-color: $white;
                opacity: .4;
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                top: -20px;
                left: -20px;
                animation: playBtn 2s linear;
                animation-iteration-count: infinite;
            }
            &::after{
                animation-delay: .5s;
            }
            &:hover::before,
            &:hover::after{
                animation: none;
            }
            @keyframes playBtn {
                0%{
                    transform: scale(0);
                    opacity: 2;
                }
                100%{
                    transform: scale(1);
                    opacity: 0;
                }
            }
        }
    }
}
// *special offer ends