// *team statrs
#team{
    .container{
        position: relative;
        &:hover .arrows span{
            opacity: .8;
            border-radius: 50%;
            font-size: 16px;
        }
    }
    .teamSlider{
        margin-bottom: 100px;
        @include xs(){
            margin-bottom: 50px;
        }
        @include sm(){
            margin-bottom: 70px;
        }
    }
    .teamSlide{
        box-shadow: 0px 5px 15px 0px rgba(17, 22, 30, 0.08);
        margin: 20px 15px;
        .ctn{
            padding: 20px 0px 20px 0;
            text-align: center;
            h5{
                color: $textColor;
                font-weight: 600;
                margin-bottom: 6px;
                @include xs(){
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }
            p{
                color: $babyPink;
                font-family: $secFont;
                @include xs(){
                    font-size: 14px;
                }
            }
            .socalIcons{
                margin-top: 10px;
                a{
                    margin: 0px 5px;
                    display: inline-block;
                    color: $textColor;
                    transition: .35s;
                    &:hover{
                        color: $babyPink;
                    }
                    @include xs(){
                        font-size: 14px;
                        margin: 0px 3px;
                    }
                }
            }
        }
    }
    .arrows{
        span{
            position: absolute;
            width: 35px;
            height: 35px;
            display: inline-block;
            text-align: center;
            line-height: 35px;
            background-color: $white;
            color: $grayColor;
            border: 1px solid $grayColor;
            border-radius: 0%;
            opacity: 0;
            top: 50%;
            transition: .25s;
            font-size: 0;
            &.leftArrow{
                left: 0;
                transform: translateX(12px);
            }
            &.rightArrow{
                right: 0;
                transform: translateX(-12px);     
            }
            &:hover{
                background-color: $babyPink;
                color: $white;
                border-color: transparent;
            }
            @include custom(){
                opacity: .8;
                border-radius: 50%;
                font-size: 16px;
                background-color: $white;
            }
        }
        
    }
}
// *team ends