*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,span,ul,ol,li,a{
    margin: 0;
    padding: 0;
}
body{
    font-family: $primaryFont;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}

// *commonDots starts

%commonDots{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    li{
        display: inline-block;
        
        button{
            background-color: $white;
            border: none;
            color: transparent;
            outline: none;
            width: 10.909px;
            height: 6px;
            margin: 0 3px;
            border-radius: 5px;
            transition: .35s;
        }
        &.slick-active button{
            width: 28.364px;
            background-color: $babyPink;
        }
    }
}

// *commonDots ends

// *common hedding starts
.hedding{
    h1{
        color: $textColor;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 25px;
    }
}
// *common hedding ends

// *common media starts
@mixin xs() {
    @media (320px <= width <= 575px) {
        @content;
    }
}
@mixin sm(){
    @media (576px <= width <= 767px) {
        @content;
    }
}
@mixin md(){
    @media (768px <= width <= 991px) {
        @content;
    }
}
@mixin lg(){
    @media (992px <= width <= 1199px) {
        @content;
    }
}
@mixin custom($minwidth:320px, $maxwidth:991px){
    @media ($minwidth <= width <= $maxwidth) {
        @content;
    }
}
// *common media ends

// *common btn starst

%commonBtn{
    display: inline-block;
    color: $white;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 37px;
    background-color: $babyPink;
    margin: 30px 0;
    transition: .35s;
    &:hover{
        background-color: $babyPinkOnHover;
    }
    @include xs(){
        font-size: 14px;
        padding:12px 18px;
    }
    @include sm(){
        font-size: 16px;
        padding: 14px 20px;
    }
}

// *common btn ends
