// *nav starts

nav{
    background-color: $white;
    width: 100%;
    .progress{
        position: fixed;
        top: 0;
        z-index: 999;
        width: 100%;
        height: 3px;
        .progress-bar{
            background-color: $babyPink;
        }
    }
    &.stiky{
        top: 0;
        position: fixed !important;
        z-index: 99;
        animation: slideDown .55s ease alternate;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    @keyframes slideDown {
        0%{
            transform: translateY(-100%);
        }
        100%{
            transform: translateY(0);
        }
    }
    .navbar-nav{
        li{
            padding: 0 15px;
            a{
                padding: 0 !important;
                color: $textColor !important;
                transition: .35s;
            }
            &:hover a{
                color: $babyPink !important;
                span svg{
                    transform: rotateZ(180deg);
                    transition: .35s;
                }
            }
            &.active a{
                span svg{
                    transform: rotateZ(180deg);
                    transition: .35s;
                }
            }
            &.currentPage a{
                color: $babyPink !important;
            }

        }
        li:first-child{
            padding-right: 25px;
            padding-left: 0;
        }
        li:last-child{
            padding-right: 0;
        }
        .dropDown{
            position: relative;
            ul li{
                padding: 0;
                margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &:hover{
                ul li a{
                    color: $textColor !important;
                    transition: .35s;
                }
                ul li:hover{
                    a{
                        color: $babyPink !important;
                    }
                }
                .dropDownCtn{
                    transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .dropDownCtn{
            background-color: $white;
            position: absolute;
            left: -10px;
            top: 25px;
            z-index: 999;
            width: 150px;
            padding:50px 20px 20px 20px;
            border-radius:0px 0px 10px 10px;
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: .55s;
            &.active{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .left-icons{
        li{
            display: inline-block;
            padding: 0 10px;
            a{
                color: $naviColor;
                transition: .35s;
                position: relative;
                span{
                    position: absolute;
                    top: -50%;
                    right: -60%;
                    z-index: 99;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $babyPink;
                    text-align: center;
                    line-height: 15px;
                    font-size: 14px;
                    color: $white;
                }
            }
            &:hover a{
                color: $babyPink;
            }
        }
    }
    .navbar-toggler{
        margin:0 10px;
        border: none;
        outline: none;
        &:focus{
            box-shadow: none;
        }
    }
}

// *nav ends

// *sideBar stats

aside{
    .offcanvas-header{
        img{
            width: 120px;
        }
    }
    .offcanvas-body{
        margin-top: 50px;
        ul{
            li{
               border-bottom: 1px solid black;
               padding: 10px 0 ;
               
               &.active a{
                color: $babyPink !important;
                span svg{
                    transform: rotateZ(180deg);
                    transition: .35s;
                    }
                }
               
            }
            .dropDown{
                ul li{
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .dropDownCtn{
                padding-left: 20px;
                height: 0px;
                transform: scaleY(0);
                transform-origin: top;
                transition: .55s;
                ul li{
                    a{
                        color: $textColor !important;
                    }
                }
                ul li:last-child{
                    border-bottom: none;
                }
                &.active{
                    height: 150px;
                    transform: scaleY(1);
                }
            }
        }
    }
}

// *sideBar ends