.preloader{
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0;
    background-color: $white;
    z-index: 9999;
    transition: .35s;
    .ctn{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: logoReplaceMent .5s ease 1.5s 1 forwards;
        .preloadertext{
            margin-bottom: -20px;
            opacity: 0;
            transform: translateX(-50vh);
            animation: preloaderTextAnimation 1s ease .5s 1 forwards;
        }
        @keyframes preloaderTextAnimation {
            100%{
                opacity: 1;
                transform: translateX(0px);
            }
        }
        @keyframes logoReplaceMent {
            100%{
                top: 38%;
            }
        }
    }
    .wraper{
        animation: loaderApear .25s 2.5s linear 1 forwards;
        opacity: 0;
    }
    .loder{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border-left:5px solid $babyPink;
        border-top:5px solid transparent;
        transform: translate(-50%,-50%);
        border-radius: 50% 50% 50% 50%;
        animation: loader 1s linear infinite forwards;
    }
    @keyframes loader {
        0%{
            transform: translate(-50%,-50%) rotateZ(0deg);
        }
        100%{
            transform: translate(-50%,-50%) rotateZ(360deg);
        }
    }
    @keyframes loaderApear {
        100%{
            opacity: 1;
        }
    }
    &.hide{
        opacity: 0;
        visibility: hidden;
    }
}